Redirect 301   /announcements/recruitments.php   http://www.iitdh.ac.in/NonFaculty_recruitment.php
Redirect 301   /announcements/recruitment.php   http://www.iitdh.ac.in/NonFaculty_recruitment.php
Redirect 301   /people/faculty.php   http://www.iitdh.ac.in/faculty.php                  
